.vs/
out/
[Ww]indows/
[Ll]inux/
[Oo]SX/
[Ff]ree[Bb][Ss][Dd]/
dependencies/
modules/
*.zip
d3d12sdk_version.txt
D3D12Core/
dxil/
*D3D12ContextExport.cpp
docs/
docs_style/
CoverageReport-*/
*CoverageResults.log
test*.txt
*.cov
final_coverage/
*.spv
*.cso
*.bin

build_container_cache/
!build_container_cache/gitkeep

db_container_cache/
!db_container_cache/gitkeep

__pycache__/
.win_venv/
.unix_venv/

compile_commands.json
.cache/
client.log
core.log
env_vars.json